<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .filter-form {
            margin-bottom: 20px;
        }
        .button-container {
            margin-top: 20px;
        }
        .button-container button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Lista de Productos</h1>

<form th:action="@{/productos}" method="get" class="filter-form">
    <div>
        <label for="nombre">Nombre del Producto:</label>
        <input type="text" id="nombre" name="nombre">
    </div>
    <div>
        <button type="submit">Filtrar</button>
    </div>
</form>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Cantidad Disponible</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.cantidad}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.categoria}"></td>
        <td th:text="${producto.precio}"></td>
    </tr>
    </tbody>
</table>

<div class="button-container">
    <button onclick="window.location.href='/nuevoproduc'">Agregar Nuevo Producto</button>
</div>

</body>
</html>
